@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
* {
  background-color: #252422;
  font-family: "Inter", sans-serif;
}
main {
  color: #2ec4b6;
}
h1,
thead {
  color: #2ec4b6;
}
tbody {
  color: #fdfffc;
}
